#NW.js PATH
NW_CHROMEDRIVER='/home/user/.nwjs/0.31.4-sdk/chromedriver'
NW_APP='/home/user/DAGCOIN/dag-wallet'
#APPIUM
APP_APK='{PATH TO APK UNDERTEST}'
ANDROID_PLATFORM='7.1'
DEVICE_NAME='emulator-5554'
